.section-title {
  margin: 0;
  padding: 0;
  color: #151515;
  font-weight: 700;
  font-size: 55px;
  line-height: 106%;
  letter-spacing: -0.5px;
  align-self: end;
  max-width: 460px;
}

@media screen and (max-width: 768px) {
  .section-title {
    align-self: start;
  }
}

@media screen and (max-width: 390px) {
  .section-title {
    font-size: 32px;
    line-height: 125%;
  }
}
