.header__line {
  border: 1px #545454 solid;
  max-width: 880px;
  width: 100%;
  display: block;
  margin: 41px auto 0;
  padding: 0;
  align-self: center;
  opacity: 0.7;
  background-color: #545454;
}

@media screen and (max-width: 934px) {
  .header__line {
    max-width: 600px;
  }
}

@media screen and (max-width: 605px) {
  .header__line {
    margin-top: 31.5px;
    max-width: 318px;

  }
}
