.intro__quote-author {
  max-width: 121px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #151515;
  text-align: left;
  padding: calc(250 / 460 * 100%) 0 0;
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .intro__quote-author {
    padding: calc(120 / 460 * 100%) 0 0;
  }
}

@media screen and (max-width: 768px) {
  .intro__quote-author {
    padding-top: 38px;
    font-size: 14px;
    line-height: 157%;
  }
}
