.section-subtitle {
  margin: 0;
  padding: 47px 0 0;
  max-width: 460px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #222;
  opacity: 0.7;
  grid-column-start: 1;
}

@media screen and (max-width: 768px) {
  .section-subtitle {
    padding-top: 39px;
  }
}

@media screen and (max-width: 390px) {
  .section-subtitle {
    font-size: 12px;
    line-height: 150%;
  }
}
