.trainings {
  padding: 210px 0 120px;
  margin: 0 auto;
  max-width: 1200px;
  width: calc(1200 / 1440 * 100%);
  display: grid;
  grid-template-columns: calc(460 / 1200 * 100%) calc(580 / 1200 * 100%);
  grid-template-rows: 60px min-content min-content;
  column-gap: calc(160 / 1200 * 100%);
}

@media screen and (max-width: 768px) {
  .trainings {
    border-top: 1px solid #E3E3E3;
    display: flex;
    flex-direction: column;
    padding: 37px 0 60px;
  }
}

@media screen and (max-width: 320px) {
  .trainings {
    display: flex;
    flex-direction: column;
    width: 88.75%;
  }
}
