.covering__image-element {
  position: absolute;
  left: 0;
  bottom: 16px;
  max-width: 100px;
  z-index: 1;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .covering__image-element {
    max-width: 69px;
    bottom: 14px;
  }
}
