.header__nav {
  padding: 28px 120px;
  max-width: 1200px;
  width: 100%;
  background-color: #F4F4F4;
  display: flex;
  justify-content: flex-end;
  gap: 34px;
  position: fixed;
  top: 0;
  z-index: 3;

}
