.bikes__cards {
  display: flex;
  gap: 30px;
  margin: 117px 0 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .bikes__cards {
    gap: 0;
    margin-top: 20px;
    flex-direction: column;
  }
}
