.intro__quote-author-subline {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  max-width: 97px;
  padding: 6px 0 0;
  margin: 0;
  grid-column: 2/3;
  grid-row: 3/4;
  color: #222;
  opacity: 70%;
}

@media screen and (max-width: 768px) {
  .intro__quote-author-subline {
    padding-top: 4px;
    font-size: 10px;
    line-height: 160%;
  }
}
