.element {
  max-width: 282px;
  max-height: 361px;
  height: 100%;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto min-content;
  margin: 0;
  padding: 0;
}
