.intro {
  max-width: 1200px;
  width: calc(1200 / 1440 *100%);
  margin: auto;
  padding: 120px 0 0;
  display: grid;
  grid-template-columns: calc(650 / 1200 * 100%) calc(470 / 1200 * 100%);
  grid-template-rows: repeat(3, min-content);
  column-gap: calc(80 / 1200 * 100%);
}

@media screen and (max-width: 768px) {
  .intro {
    width: 88.75%;
    display: flex;
    flex-direction: column;
    padding: 40px 0 80px;
    border-top: 1px solid #E3E3E3;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding-top: 22px;
  }
}
