.trainings__links {
  padding-top: 39.5%;
  align-self: end;
  grid-column-start: 1;
  display: flex;
  gap: 29px;
}

@media screen and (max-width: 768px) {
  .trainings__links {
    align-self: flex-start;
    gap: 30px;
    padding-top: 40px;
  }
}
