.trainings__link {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #151515;
  text-decoration: none;
  transition: opacity .6s;
}

.trainings__link:hover {
  opacity: 0.75;
}

@media screen and (max-width:320px) {
  .trainings__link {
    font-size: 14px;
    line-height: 143%;
  }
}
