.footer {
  margin: 0 auto;
  padding: 84px 0 60px;
  max-width: 1440px;
  width: 100%;
  background-color: #EFEFEF;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 60px 0 25px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 62px;
  }
}
