.footer__input {
  margin: 50px 0 0 calc(120 / 1440 * 100%);
  padding: 0;
  max-width: 360px;
  width: 100%;
  height: 50px;
  outline: none;
  background-color: #EFEFEF;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
}

@media screen and (max-width: 798px) {
  .footer__input {
    width: 70%;
  }
}

@media screen and (max-width: 390px) {
  .footer__input {
    width: 88.75%;
    margin: 38px 0 0 18px;
  }
}
